/* Write custom CSS styling here */
body {
    background-color: #90A955;
}
h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.about {
    background-color: #4F772D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #ECF39E
}


.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.caption{
    font-size: 750%
}
.opaque-img {
    opacity: 75%;
}

.about {
    font-size: 150%;
}

.dropdown-menu-dark {
    background-color: #31572C !important;
}

/* change the background color */
.navbar-custom {
    background-color: #4433cc;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffcc00;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffbb00;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: pink;
}
/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #ddaa11;
}
/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: #000000;
}
/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: #eeeeee;
    background-color: red;
}


