/* Write custom CSS styling here */
body {
    background-color: #90A955;
}
h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.about {
    background-color: #4F772D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #ECF39E;
    font-size: 150%;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.caption{
    font-size: 750%
}
.opaque-img {
    opacity: 0.75 !important;
}

.dropdown-menu-dark {
    background-color: #31572C !important;
}

/* change the background color */
.navbar-custom {
    background-color: #31572C;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ECF39E;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ECF39E;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: whitesmoke;
}
/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #31572C;
}
/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: #ECF39E;
}
/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: #ECF39E;
    background-color: #31572C;
}

.btn-custom .btn {
    color: #eeeeee;
    background-color: red;
}

form {
  width: 100%;
  margin-left : 25%
}

#square {
    width: 120px;
    height: 120px;
    background: purple;
}

.btn-group {
    width: 50%;
    margin-left: 25%;
}

/* .btn-group .button {
    border: 100px;
} */