{% extends 'base.html'%}
{% block title%}List of Locations{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <h1>Sustainable Foods</h1>
        {% for ingredient in data.sus_ingredients %}
        <div class="col-3">
            <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ingredient}}</h5>
                        <p class="card-text">{{data['foods_dict'][ingredient]['Total_emissions']}}</p>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}